<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.standarts.qazpp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/qazpp_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/qazpp_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qazpp">
        <activity android:name=".CreateQuizActivity"/>
        <activity android:name=".SelectionActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".MenuActivity" android:configChanges="orientation" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FinalScoreActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".QuizActivity" android:configChanges="orientation" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>